*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    display: flex;
    flex-wrap: wrap;    
}
section div{
    outline: 1px  solid black;
    flex-grow: 1;
}
    section div{
        background-color: red;
        flex-direction: column;
        flex-basis: 100%;
    }
/*hasta 576px se muestra en una sola columna*/

    @media (min-width:320px){
        section div{
            background-color: green;
            flex-basis:25%;            
        }
    }    

    @media (min-width:576px){
        section div{
            background-color: gray;
            flex-basis:25%;            
        }
    }
    @media (min-width:760px){
        section div{
            background-color: cadetblue;
            flex-basis:50%;            
        }
    }    
        @media (min-width:980px){
            section div{
                background-color:crimson;
                flex-basis:100%;                
            }    
    }
    
